<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title BECO Catalog
    link(rel="stylesheet" href="css/style.min.css")
    link(rel="shortcut icon", href="images/beco_logo.ico", type="image/x-icon")
  body
    include mixins.pug

    .root
      +sidebar
      +main

    script(src="javascript/main.min.js")