@media (min-width: 380px) {
  .coupon {
    padding: 15px 18px;
    font-size: 14px;

    &__desc {
      margin-top: 4px;
    }
    &__sentence {
      font-size: 36px;
      line-height: 28px;

      &-info {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 500px) {
  .header {
    width: calc(100vw - 104px);
    padding-top: 31px;
    padding-right: 27px;
    height: 181px;

    &__title-container {
      font-size: 28px;
    }
    &__search {
      font-size: 18px;
    }
    &--scrolling &__search-container {
      width: calc(100% - 102px);
    }
    &--scrolling {
      height: 106px;
    }
  }

  .sidebar {
    width: 104px;

    &__container {
      width: 104px;
      transform: translateX(0px);
    }
    &--active &__container {
      width: 246px;
    }
    &__logo {
      margin: 40px;

      &-text {
        opacity: 0;
        transition: .5s;
      }
    }
    &--active &__logo-text {
      opacity: 1;
    }
  }

  .tab {
    padding: 0 40px;

    &__img {
      display: block;
      min-width: 24px;
      min-height: 24px;

      path {
        transition: .3s;
      }
    }
    &__title {
      opacity: 0;
      margin-left: 12px;
    }
    &--active &__img path, &:hover &__img path {
      stroke: #34ABE0;
    }
    .sidebar--active &__title {
      opacity: 1;
    }
  }

  .coupons-wrapper {
    margin-top: 181px;
  }
}

@media (min-width: 750px) {
  .coupons-wrapper {
    padding: 7px 26px 100px 6px;
  }

  .header {
    padding-right: 20px;

    &__search-container {
      right: 27px;
      width: calc(100% - 54px);
    }
  }
  
  .coupon {
    width: calc(50% - 58px);
    margin: 20px 0 0 20px;
  }
}

@media (min-width: 1000px) {
  .header {
    width: calc(100vw - 240px);
    padding: 40px 60px;
    height: auto;

    &__title {
      text-align: left;
      margin-bottom: 31px;

      &-placeholder {
        left: 0;
      }
    }
    &__search-container {
      position: static;
      width: 100%;
    }
    &--scrolling &__title-container {
      opacity: 1;
      transform: none;
    }
    &--scrolling &__search {
      padding-left: 44px;
  
      &-img {
        opacity: 1;
      }
      &-container {
        width: 100%;
      }
    }
  }

  .sidebar {
    width: 240px;

    &__container {
      width: 240px;
    }
    &__logo {
      margin: 40px 40px 41px;
      
      &-text {
        opacity: 1;
        margin-left: 10px;
        width: auto;
        height: auto;
      }
      &-sign {
        width: 50px;
        height: 50px;
      }
    }
    &__menu {
      display: none;
    }
    &--active &__container {
      width: 240px;
    }
  }

  .tab {
    &__title {
      opacity: 1;
    }
  }

  .coupons-wrapper {
    margin-top: 201px;
    padding: 20px 60px 100px 40px;
  }
}

@media (min-width: 1300px) {
  .coupon {
    width: calc(33% - 55px);

    &__sentence {
      margin-top: 43px;
    }
  }
}